prolog=built locally
email=suvft@cebgbaznvy.pbz

# ESP8266 dev branch
repository=https://github.com/nodemcu/nodemcu-firmware
branch=dev

# make sure these are aligned with included Lua-modules
modules=adc,bit,crypto,encoder,file,gpio,i2c,net,node,ow,rtcmem,rtctime,sjson,sntp,spi,tmr,uart,wifi

## these are needed by lua-modules
# modules=crypto,encoder,file,net,node,rtcmem,rtctime,sjson,sntp,tmr,wifi
## and these are good to have on general purpose
# modules=adc,bit,gpio,i2c,ow,spi,uart

ssl-enabled=false
debug-enabled=false
fatfs-enabled=false

u8g-fonts=font_6x10,font_chikita
u8g-display-i2c=uc1611_dogm240_i2c
u8g-display-spi=pcf8812_96x65_hw_spi
ucg-display-spi=seps225_16x128x128_uvis_hw_spi, ucg_dev_seps225_16x128x128_univision, ucg_ext_seps225_16

#### LFS size
# <option value="0" selected="">0, no LFS</option>
# <option value="0x8000">32 KB</option>
# <option value="0x10000">64 KB</option>
# <option value="0x15000">96 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>
lfs-size=0x20000

#### SPIFFS
# <option value="0" selected="">0, start right after firmware</option>
# <option value="0x10000">64 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>
# <option value="0x80000">512 KB</option>
# <option value="0x100000">1024 KB</option>
spiffs-base=0x100000

#### SPIFFS size
# <option value="0" selected="">all free flash</option>
# <option value="0x10000">64 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>
# <option value="0x80000">512 KB</option>
# <option value="0x100000">1024 KB</option>
# <option value="0x200000">2048 KB</option>
# <option value="0x400000">4096 KB</option>
# hint: at least double to LFS-size, in order to accommodate OTA
spiffs-size=0x40000

spiffs-1mboundary=true

# default to Lua53
lua=53
lua-init=require('init')
