prolog=built locally
email=suvft@cebgbaznvy.pbz

# ESP8266 dev branch
repository=https://github.com/nodemcu/nodemcu-firmware
branch=dev

# make sure these are aligned with included Lua-modules
modules=adc
modules=ads1115
modules=bit
modules=crypto
modules=encoder
modules=file
modules=gpio
modules=gpio_pulse
modules=i2c
modules=mdns
modules=net
modules=node
modules=ow
modules=pwm
modules=pwm2
modules=rtcmem
modules=rtctime
modules=sjson
modules=sntp
modules=spi
modules=tmr
modules=uart
modules=wifi

#modules=adxl345
#modules=am2320
#modules=apa102
#modules=bloom
#modules=bme280
#modules=bme280_math
#modules=bme680
#modules=bmp085
#modules=coap
#modules=color_utils
#modules=cron
#modules=dcc
#modules=dht
#modules=enduser_setup
#modules=gdbstub
#modules=hdc1080
#modules=hmc5883l
#modules=http
#modules=hx711
#modules=l3g4200d
#modules=mcp4725
#modules=mqtt
#modules=pcm
#modules=perf
#modules=pixbuf
#modules=rfswitch
#modules=rotary
#modules=rtcfifo
#modules=si7021
#modules=sigma_delta
#modules=softuart
#modules=somfy
#modules=struct
#modules=switec
#modules=tcs34725
#modules=tm1829
#modules=tsl2561
#modules=u8g2
#modules=ucg
#modules=websocket
#modules=wiegand
#modules=wifi_monitor
#modules=wps
#modules=ws2801
#modules=ws2812
#modules=ws2812_effects
#modules=xpt2046

ssl-enabled=false
debug-enabled=false
fatfs-enabled=false

u8g-fonts=font_6x10,font_chikita
u8g-display-i2c=uc1611_dogm240_i2c
u8g-display-spi=pcf8812_96x65_hw_spi
ucg-display-spi=seps225_16x128x128_uvis_hw_spi,ucg_dev_seps225_16x128x128_univision,ucg_ext_seps225_16

lfs-size=0x40000
spiffs-base=0x100000
# hint: at least double to LFS-size, in order to accommodate for OTA
spiffs-size=0x100000

spiffs-1mboundary=true

# default to Lua53
lua=53
lua-init=require('init')

lua-modules=adc-ntc
lua-modules=bootprotect
lua-modules=bootstrap
lua-modules=device-settings
lua-modules=ds18b20
lua-modules=dummy-strings
lua-modules=http-srv
lua-modules=init
lua-modules=lfs-init
lua-modules=lights-switch
lua-modules=log
lua-modules=mdns-adv
lua-modules=pid
lua-modules=relay-switch
lua-modules=sct013-sensor
lua-modules=sntp-sync
lua-modules=state
lua-modules=system-hass
lua-modules=telnet
lua-modules=temp-sensor
lua-modules=thermostat
lua-modules=utils
lua-modules=vetinari-clock
lua-modules=web-ha
lua-modules=web-ota
lua-modules=web-portal
lua-modules=wifimgr

lwip-pbuf-pool-size=6
lwip-mem-size=8000
lwpi-tcp-mss=536

## these are needed by lua-modules, rest are good to haver anyway
# modules=crypto,encoder,file,net,node,rtcmem,rtctime,sjson,sntp,tmr,wifi

#### LFS size
# <option value="0" selected="">0, no LFS</option>
# <option value="0x8000">32 KB</option>
# <option value="0x10000">64 KB</option>
# <option value="0x15000">96 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>

#### SPIFFS
# <option value="0" selected="">0, start right after firmware</option>
# <option value="0x10000">64 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>
# <option value="0x80000">512 KB</option>
# <option value="0x100000">1024 KB</option>

#### SPIFFS size
# <option value="0" selected="">all free flash</option>
# <option value="0x10000">64 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>
# <option value="0x80000">512 KB</option>
# <option value="0x100000">1024 KB</option>
# <option value="0x200000">2048 KB</option>
# <option value="0x400000">4096 KB</option>
