prolog=built locally
email=suvft@cebgbaznvy.pbz

# ESP8266 dev branch
repository=https://github.com/nodemcu/nodemcu-firmware
branch=dev

# make sure these are aligned with included Lua-modules
modules=adc,bit,crypto,encoder,file,gpio,i2c,mdns,net,node,ow,rtcmem,rtctime,sjson,sntp,spi,tmr,uart,wifi

ssl-enabled=false
debug-enabled=false
fatfs-enabled=false

u8g-fonts=font_6x10,font_chikita
u8g-display-i2c=uc1611_dogm240_i2c
u8g-display-spi=pcf8812_96x65_hw_spi
ucg-display-spi=seps225_16x128x128_uvis_hw_spi, ucg_dev_seps225_16x128x128_univision, ucg_ext_seps225_16

lfs-size=0x40000
spiffs-base=0x100000
# hint: at least double to LFS-size, in order to accommodate for OTA
spiffs-size=0x100000

spiffs-1mboundary=true

# default to Lua53
lua=53
lua-init=require('init')

lua-modules=bootprotect,device-settings,ds18b20,dummy-strings,http-srv,init,lfs-init,log,relay-switch,sntp-sync,state,system-hass,telnet,temp-sensor,thermostat,utils,web-ha,web-ota,web-portal,wifimgr


#### available modules
#adc
#ads1115
#adxl345
#am2320
#apa102
#bit
#bloom
#bme280
#bme280_math
#bme680
#bmp085
#coap
#color_utils
#cron
#crypto
#dcc
#dht
#encoder
#enduser_setup
#file
#gdbstub
#gpio
#gpio_pulse
#hdc1080
#hmc5883l
#http
#hx711
#i2c
#l3g4200d
#mcp4725
#mdns
#mqtt
#net
#node
#ow
#pcm
#perf
#pixbuf
#pwm
#pwm2
#rfswitch
#rotary
#rtcfifo
#rtcmem
#rtctime
#si7021
#sigma_delta
#sjson
#sntp
#softuart
#somfy
#spi
#struct
#switec
#tcs34725
#tm1829
#tmr
#tsl2561
#u8g2
#uart
#ucg
#websocket
#wiegand
#wifi
#wifi_monitor
#wps
#ws2801
#ws2812
#ws2812_effects
#xpt2046

## these are needed by lua-modules, rest are good to haver anyway
# modules=crypto,encoder,file,net,node,rtcmem,rtctime,sjson,sntp,tmr,wifi

#### LFS size
# <option value="0" selected="">0, no LFS</option>
# <option value="0x8000">32 KB</option>
# <option value="0x10000">64 KB</option>
# <option value="0x15000">96 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>

#### SPIFFS
# <option value="0" selected="">0, start right after firmware</option>
# <option value="0x10000">64 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>
# <option value="0x80000">512 KB</option>
# <option value="0x100000">1024 KB</option>

#### SPIFFS size
# <option value="0" selected="">all free flash</option>
# <option value="0x10000">64 KB</option>
# <option value="0x20000">128 KB</option>
# <option value="0x40000">256 KB</option>
# <option value="0x80000">512 KB</option>
# <option value="0x100000">1024 KB</option>
# <option value="0x200000">2048 KB</option>
# <option value="0x400000">4096 KB</option>

#### available lua modules
#bootprotect
#device_settings
#dummy_strings
#http_srv
#lfs_init
#log
#sntp_sync
#state
#telnet
#web_ota
#web_portal
#web_restapi
#wifimgr
